[user]
	name = Victor Allegret
	email = victor.allegret@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
	ff = false
[color]
	ui = true
[pager]
	branch = false
	diff = less -+FX
[commit]
	verbose = true
